/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/pikavirus -profile test_ISCIII, <docker/singularity>
 */

params {
  config_profile_name = 'Standard test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function with small-sized reads, and small-sized databases'
 
  kraken2_db = "https://zenodo.org/record/4596314/files/kraken2db_testing_pikavirus.tar.gz"
  kaiju_db = "http://kaiju.binf.ku.dk/database/kaiju_index.tgz"
  vir_ref_dir = "https://zenodo.org/record/4633895/files/vir_ref_pikavirus.tar.gz"
  bact_ref_dir = "https://zenodo.org/record/4633895/files/bact_ref_pikavirus.tar.gz"
  fungi_ref_dir = "https://zenodo.org/record/4633895/files/fungi_ref_pikavirus.tar.gz"
  input = "https://raw.githubusercontent.com/GuilleGorines/data/main/test_samples_nfcore_pikavirus/test/Samplesheet.csv"
}
