/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/pikavirus -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile - single-end data'
  config_profile_description = 'Minimal test dataset to check pipeline function with single-end data'

  // Input data for full size test
  // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
  // TODO nf-core: Give any required par0.ams for the test so that command line flags are not needed
  
  single_end = true
  input_paths = [
    ['Testdata', 'text_samples_nfcore_pikavirus/test_data_nfcore-pikavirus_single_end.fastq.tar.gz']
]
}
