/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/pikavirus -profile test_ISCIII, <docker/singularity>
 */

params {
  config_profile_name = 'Standard test profile'
  config_profile_description = 'Same profile as test (minimal dataset to check pipeline function with paired-end, small-sized reads, and small-sized databases), without cap on performance.'
   
  kraken2_db = "https://zenodo.org/record/4537563/files/small_kraken2db.tar.gz?download=1"
  kaiju_db = "http://kaiju.binf.ku.dk/database/kaiju_index.tgz"

  input_paths = [
    ['Testdata_small',
    ['https://github.com/GuilleGorines/data/raw/main/test_samples_nfcore_pikavirus/test/Sample1_small_R1.fastq.tar.gz',
    'https://github.com/GuilleGorines/data/raw/main/test_samples_nfcore_pikavirus/test/Sample1_small_R2.fastq.tar.gz']
    ]
]
}
